/* --------------------HERO---------------- */

#home {
  background-image: url('../images/hero_desktop_3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Паралакс */
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 20px;
  position: relative;
  color: var(--text-light);
  z-index: 1;
}

#home::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero {
  display: flex;
  justify-content: end;
  padding-left: 40px;
  padding-right: 40px;
  pointer-events: none;
  flex-wrap: wrap;
}

.home-left {
  position: relative;
  z-index: 2;
  max-width: 700px;
  flex: 1;
  width: 41vw;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}

.hero .subtitle {
  color: rgb(49, 49, 49);
  font-size: 24px;
  font-weight: 800;
  line-height: 69px;
  text-transform: uppercase;
  pointer-events: none;
}

.subtitle .highlight {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 2px;
  background-color: rgb(49, 49, 49);
  margin-right: 10px;
}

.hero h1 {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 130px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 130px;
    letter-spacing: 5px;
    text-shadow: 4px 4px 0px #E9AD1F;
    pointer-events: none;
}

.home-left p {
  margin-top: 20px;
  color:#000000da;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  pointer-events: none;

}

.home-right img {
  max-width: 300px;
  border-radius: 10px;
}

/* --------------------ADAPTIVE---------------- */

/* Планшети */
@media (max-width: 991px) {
  #home {
  min-height: 70vh;
  padding-right: 40px;
  padding-left: 40px;
  justify-content: right;

    display: flex;
  flex-wrap: wrap; /* або wrap-reverse */
      

}

  .hero {
    justify-content: center;
    /* padding: 40px 20px; */
  }

  .home-left {
    display: flex;
    width: 60vw;
    text-align: right;
      flex: 0 0 auto;
  }

  .hero .subtitle {
    font-size: 20px;
    line-height: 40px;
  }

  .hero h1 {
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 3px;
    text-shadow: 3px 3px 0px #969696;
  }

  .home-left p {
    font-size: 15px;
    line-height: 26px;
  }

  .home-right img {
    max-width: 250px;
    margin-top: 30px;
  }
}

/* Мобільні */
@media (max-width: 576px) {
  #home {
    padding: 40px 15px;
    background-attachment: scroll; /* на мобільних паралакс часто не працює */
  }

  .hero {
    flex-direction: column;
    padding: 0;
  }

  .home-left {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .hero .subtitle {
    font-size: 18px;
    line-height: 30px;
  }

  .hero h1 {
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px #969696;
  }

  .home-left p {
    font-size: 14px;
    line-height: 24px;
  }

  .home-right img {
    max-width: 200px;
    margin-top: 20px;
  }
}
